@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  .clientData {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2;
    @include flexCenter;
    .moreInfoAboutClient {
      position: relative;
      width: 500px;
      height: 800px;
      background-color: rgba(255, 255, 255, 0.95);
      border-radius: 7px;
      overflow: hidden;
      box-shadow: 0 0 4px 1px black;
      h2 {
        height: 100px;
        width: 100%;
        text-align: center;
        line-height: 100px;
        background-color: rgba(135, 206, 250, 0.3);
      }
      .aboutClient {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-left: 20px;
        width: 100%;
        height: 300px;

        flex-direction: column;
        p {
          font-size: 18px;
          font-weight: bold;
          span {
            font-weight: normal;
            font-size: 16px;
          }
        }
      }
      .clientCars {
        position: relative;
        width: 100%;
        height: 400px;
        h4 {
          text-align: center;
          height: 40px;
          line-height: 40px;
        }
        .addNewCar {
          position: absolute;
          right: 20px;
          background-color: rgba(135, 206, 250, 0.3);
          border-radius: 12px;
          padding: 0 10px;
          top: 0;
          height: 40px;
          &:hover {
            background-color: rgba(135, 206, 250, 0.5);
          }
        }
        .clientCarsList {
          width: 100%;
          height: 360px;
          overflow: scroll;
          .oneClientCar {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 4px 0;
            tr {
              display: flex;
              flex-direction: column;
              justify-content: center;
              background-color: rgba(102, 24, 24, 0.06);
              height: 160px;
              width: 90%;
              border-radius: 6px;
              border: 1px solid black;
              box-shadow: 0 0 2px 1px;
              td {
                padding-left: 20px;
                font-weight: bold;
                span {
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
      .closeClientData {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 22px;
        font-weight: bold;
        padding: 6px 10px;
      }
    }
  }
  header {
    width: 100%;
    height: 80px;
    @include flexCenter;
    background-color: rgba(135, 206, 250, 0.4);
    h1 {
      font-size: 28px;
    }
  }
  .aboutClient {
    width: 100%;
    height: calc(100vh - 80px);
    @include flexCenter;
    div.clientList {
      width: 70%;
      height: 90%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      box-shadow: 0 0 4px 1px black;
      background-color: rgba(135, 206, 250, 0.1);
      overflow: hidden;
      form {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        input {
          width: 50%;
          height: 32%;
          border-radius: 6px;
          padding: 3px 8px;
          background-color: white;
          outline: none;
        }
        button {
          position: relative;
          width: 15%;
          background-color: white;
          padding: 6px 20px;
          border-radius: 7px;
          overflow: hidden;

          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: rgba(135, 206, 250, 0.8);
            border-radius: 8px;
            left: -100%;
            transition: 0.2s;
            bottom: 0px;
          }
          &:hover::after {
            left: 0;
          }
        }
      }
      aside {
        width: 100%;
        height: calc(100% - 100px);
        background-color: white;
        overflow: scroll;
        h3 {
          text-align: center;
          padding: 12px 0;
        }
        .oneClient {
          width: 100%;
          height: 100px;
          display: flex;
          box-sizing: border-box;
          border-bottom: 2px solid black;
          tr {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 20%;
            height: 100%;
          }
          .showMoreInfo {
            width: 20%;
            background-color: rgba(135, 206, 250, 0.1);
            &:hover {
              background-color: rgba(135, 206, 250, 0.25);
            }
          }
        }
      }
    }
  }
}
